
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px;
}

#kop {
  position: fixed;
  width: 100%;
  height: 72px;
  left:0;
  top: 0;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  background-color: darkslateblue;
  color: whitesmoke;
  padding: 10px;
  z-index: 1;
}

#linkerkolom {
  font-size: 1.5em;
  position: fixed;
  display: block;
  padding: 10px;
  background-color: lightskyblue;
  float: left;
  margin-top: 72px;
  left: 0;
  width: 25%;
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#linkerkolom a:link {
  color: black;
}

#linkerkolom a:visited {
  color: darkblue;
}

#linkerkolom a:hover {
  background-color: black;
  color: white;
  cursor: default;
  text-decoration: none!important;
}

#rechterkolom a:link {
  color: black;
}

#rechterkolom a:visited {
  color: darkblue;
}

#rechterkolom a:hover {
  background-color:red;
  color: white;
  cursor: default;
  text-decoration: none!important;
}

#rechterkolom {
  position: absolute;
  display: block;
  height: auto;
  padding: 10px;
  background-color: lightgrey;
  float: right;
  margin-top: 72px;
  left: 25%;
  width: 75%;
  
}


#artikel {
  background:lightgrey;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#artikelinvoer {
  display: block;
}

#buffer {
  display: block;
  /* display: none; */
}

/*
* {
    box-sizing: border-box;
}*/


#login-form {
  color: white;
  text-align: right;
  display: none;
  position: absolute;
  background-color: mediumblue;
  border: 1px solid white;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}

/* Clear floats after the columns 
.row:after {
    content: "";
    display: table;
    clear: both;
}
*/

#invisible-data {
  display: none;
}
