table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 4px;
}

#kop {
  position: fixed;
  width: 100%;
  height: 72px;
  left:0;
  top: 0;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  background-color: darkblue;
  color: white;
  padding: 10px;
  z-index: 1;
}

#linkerkolom {
  font-size: 1.25em;
  position: fixed;
  display: block;
  padding: 10px;
  background-color: lightskyblue;
  float: left;
  overflow-y: auto;
  margin-top: 72px;
  left: 0;
  width: 25%;
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


input#title.form-control{
  width: 200px;
}

div.form-title{
   margin-top: 80px;
}

textarea#body.form-control{
  width: 400px;
  height: 200px;
}

div.form-body{
  margin-top: 30px;
}

#rechterkolom {
  position: absolute;
  display: block;
  padding: 10px;
  background-color: khaki;
  float: right;
  /*top: 15%; */
  margin-top: 72px;
  left: 25%;
  width: 75%;
  /* height: 100%;*/
  height: auto;
}

#artikel {
  background:khaki;
  white-space: nowrap; /* pre */
  overflow: hidden;
  text-overflow: ellipsis;
}

#linkerkolom a:link {
  color: black;
}

#linkerkolom a:visited {
  color: darkblue;
}

#linkerkolom a:hover {
  background-color: black;
  color: white;
  cursor: default;
  text-decoration: none!important;
}

#rechterkolom a:link {
  color: black;
}

#rechterkolom a:visited {
  color: darkblue;
}

#rechterkolom a:hover {
  background-color:darkgreen;
  color: white;
  cursor: default;
  text-decoration: none!important;
}

.maandpublicatie:hover {
  background-color: black;
  color: white;
  cursor: default;
}


#maandpublicatietabel tr td {
  border-style: hidden;
  padding: 0;
}


#frontend-zoekform {
  position: absolute;
  white-space: nowrap;
  top: 10px;
  right: 24px;

}

#user-login, #pwreset-form, #email-form {
  color: white;
  text-align: right;
  display: none;
  position: absolute;
  background-color: darkred;
  border: 1px solid white;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 9;
}

#user-login a {
  color: yellow;
}

#account-form {
  color: white;
  text-align: right;
  display: block;
  position: absolute;
  background-color: darkred;
  border: 1px solid white;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 9;
}

/*
.cat-head{
  color: black;
  text-decoration: none!important;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  cursor: pointer;
}
.cat-body{
  color: black;
  text-decoration: black;
  text-decoration: none!important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.backend{
  color: black;
  text-decoration: black;
  text-decoration: none!important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  cursor: pointer;
}
*/
