table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 4px;
}

#kop {
position: fixed;
width: 100%;
height: 72px;
left:0;
top: 0;
display: block;
white-space: nowrap;
overflow: hidden;
background-color: darkblue;
color: white;
padding: 10px;
z-index: 1;
}

#linkerkolom {
position: fixed;
display: block;
padding-right: 10px;
padding-left: 10px;
background-color: lightskyblue;
float: left;
margin-top: 72px;
/*top: 15%;
margin-top: 15%; */
left: 0;
width: 25%;
height: 100%;

}

#rechterkolom {
position: absolute;
display: block;
padding-left: 10px;
padding-top: 10px;
background-color: khaki;
float: right;
/*top: 15%; */
margin-top: 82px;
left: 25%;
width: 75%;
/* height: 100%;*/
height: auto;
}

.categorie:hover {
background-color: black;
color: white;
cursor: default;
}

.maandpublicatie:hover {
background-color: black;
color: white;
cursor: default;
}


#maandpublicatietabel tr td {
border-style: hidden;
padding: 0;
}


#frontend-zoekform {
position: absolute;
white-space: nowrap;
top: 10px;
right: 24px;

}

#user-login, #pwreset-form, #email-form {
color: white;
text-align: right;
display: none;
position: absolute;
background-color: darkred;
border: 1px solid white;
border-radius: 8px;
padding: 12px;
box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.5);
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
z-index: 9;
}

#user-login a {
color: yellow;
}

#account-form {
color: white;
text-align: right;
display: block;
position: absolute;
background-color: darkred;
border: 1px solid white;
border-radius: 8px;
padding: 12px;
box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.5);
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
z-index: 9;
}

/*
#rechterkolom:after {
content: "";
display: table;
clear: both;
}*/